
.article_main{
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Texto de título */

.article_top{
  position: absolute;
  height: 24rem;
  width: 100%;
  display: grid;
  margin-top: 18rem;
  grid-template-columns: auto 60% auto;
  background-color: var(--color-5);
  box-shadow: 2px 2px var(--color-7);
}

h2{
  position: absolute;
  top: 7rem;
  font-size: 64px;
  width: 90%;
  text-align: center;
  font-family: var(--font-1);
  background-color: var(--color-6);
  color: white;
  left: 5%;
}

article div p{
  position: absolute;
  width: 100%;
  text-align: center;
}

#article_text-1{
  top: 6rem;
}

#article_text-2{
  top: 14rem;
  font-size: 22px;
  width: 70%;
  left: 15%;
}

/* Panel deslizante */

.slider_main{
  display: grid;
  background-color: var(--color-2);
  border-width: 20px;
  border-color: var(--color-7);
  box-shadow: 8px 8px var(--color-7);
  grid-template-columns: 0px 0px 0px 0px;
  height: 20rem;
}

#slider_button-left{
  margin: 35% 20% 35% 45%;
  border-width: 3px;
  border-color: var(--color-7);
  color: white;
  box-shadow: 3px 3px var(--color-6);
  background-color: var(--color-1);
  font-size: 42px;
  font-family: var(--font-3);
  top: 8rem;
  opacity: 75%;
}
#slider_button-right{
  border-width: 3px;
  border-color: var(--color-7);
  box-shadow: 3px 3px var(--color-6);
  margin: 35% 45% 35% 20%;
  background-color: var(--color-1);
  color: white;
  font-size: 42px;
  font-family: var(--font-3);
  opacity: 75%;
  top: 8rem;
}

.slider_main div{
  position: absolute;
  width: 60%;
}

.slider_main div img{
  position: absolute;
  width: 0%;
  max-width: 75rem;
  min-height: 20rem;
  max-height: 20rem;
}

.slider_main div p{
  position: relative;
  top: 21.5rem;
  font-size: 24px;
  color: white;
  font-family: var(--font-3);
}

#slider_image_1{
  transition: width 1s ease;
}
#slider_image_2{
  transition: width 1s ease;
}
#slider_image_3{
  transition: width 1s ease;
}
#slider_image_4{
  transition: width 1s ease;
}

/* Primer cuadro */

h4{
  font-size: 40px;
  font-family: var(--font-1);
  font-weight: bolder;
}

.article_frame-1{
  position: absolute;
  width: 100%;
  height: auto;
  top: 64rem;
  display: grid;
  grid-template-columns: 60% auto;
  background-color: var(--color-2);
}

.article_frame-1 ul{
  padding-top: 5%;
  padding-bottom: 5%;
}

.article_frame-1 ul li{
  position: relative;
  color: white;
  font-size: 22px;
  font-family: var(--font-3);
  padding-bottom: 1rem;
  width: 80%;
  left: 10%;
  list-style: none;
  padding-top: 1rem;
}

.article_frame-1 img{
  position: relative;
  height: 80%;
  top: 10%;
}

.article_frame-2{
  position: absolute;
  width: 100%;
  height: 48rem;
  top: 120rem;
  display: grid;
  grid-template-columns: 65% auto;
  background-color: var(--color-2);
}

.article_frame-2 ul{
  padding-top: 5%;
  padding-bottom: 5%;
}

.article_frame-2 ul li{
  position: relative;
  color: white;
  font-size: 22px;
  font-family: var(--font-3);
  padding-bottom: 1rem;
  width: 80%;
  list-style: none;
  padding-top: 1rem;

}

.article_diagram{
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  height: auto;
}

.article_diagram div h3{
  position: relative;
  background-color: var(--color-5);
  width: 44%;
  left: 28%; top: 5rem;
  text-align: center;
  font-size: 32px;
  font-family: var(--font-1);
}

.article_diagram div p{
  position: relative;
  background-color: var(--color-7);
  width: auto;
  text-align: center;
  width: 72%;
  left: 14%; top: 8rem;
  font-size: 20px;
  color: white;
  font-family: var(--font-3);
}
