:root{
    --wow-sq: #CCCCCCC0;
    --wow-bt: #FFFFFFC0;
    --wow-bt-2: #7F7F7FC0;
    --wow-border: black;
    --wow-bt-h: #5F5F5FE0;

}

.article_main{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 4.5rem;
}

.article_top{
  width: 100%;
  height: 60rem;
  background-color: var(--color-1);
}

.article_table{
  position: absolute;
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.article_top h2{
  width: 100%;
  text-align: center;
  font-size: 64px;
  padding-top: 24px;
  font-family: var(--font-1);
  color: white;
  text-shadow: 5px 5px var(--color-6);
}

.article_top div h3{
  position: relative;
  color: white;
  width: 40%; left: 30%;
  text-align: center;
  font-size: 28px;
  background-color: var(--color-6);
  font-family: var(--font-3);
}

.article_top img{
  position: relative;
  width: 80%;
  height: 12rem;
  left: 10%;
  top: 1rem;
  border-width: 8px;
  border-color: var(--color-7);
  border-radius: 32px;
}

.table_normal{
  position: relative;
  color: white;
  text-align: center;
  width: 80%;
  height: 4rem;
  left: 10%; top: 1rem;
  font-size: 20px;
  font-family: var(--font-3);
}

.desplegable_menu{
  position: relative;
  color: white;
  text-align: center;
  width: 80%;
  height: 4rem;
  left: 10%; top: 2rem;
  background-color: var(--color-5);
  font-size: 24px;
  font-family: var(--font-3);
  padding-top: 16px;
  transition: transform 0.75s ease;
  border-width: 2px;
  border-color: white;
  box-shadow: 3px 3px var(--color-6);
  text-shadow: 2px 2px var(--color-5);
}

.desplegable_menu:hover{
  transition: background-color 0.5s ease;
  background-color: var(--color-6);
  transition: color 0.5s ease;
  color: var(--color-3);
}

.desplegable_menu:active{
  transition: background-color 0.5s ease;
  background-color: var(--color-7);
  transition: color 0.5s ease;
  color: var(--color-1);
}

#table_bottom-text{
  position: relative;
  color: white;
  width: 60%; left: 20%;
  text-align: center;
  font-size: 48px;
  top: 42rem;
  font-family: var(--font-1);
  background-color: var(--color-5);

}

.disabled{
  position: relative;
  z-index: 10;
  background-color: #00000000;
  border-width: 0px;
  color: white;
  text-align: center;
  top: -36rem;
  width: 60%; left: 20%; height: 16rem;
  font-size: 16px;
}

.active_menu{
  height: 24rem;
  transform: translateY(-20rem);
  background-color: var(--color-2);
  transition: background-color 0.75s ease;
  font-size: 20px;
}

.article_table a{
  position: relative;
  z-index: 10;
  color: black;
  top: -36rem;
  background-color: var(--color-5);
  text-align: center;
  width: 100%;
  left: -9rem;
  font-size: 27px;
  padding: 6px 16px 6px 16px;
}

.table_link{
  transform: translateY(200rem);
  opacity: 0%;
}

.link_active{
  transition: opacity 1s ease;
  opacity: 100%;
}

/* articulo 1 */

.article-1{
  position: absolute;
  width: 100%;
  height: 40rem;
  background-color: var(--color-1);
  top: 80rem;
}

.article-1 h2{
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 24px;
  font-size: 42px;
  font-family: var(--font-1);
  background-color: var(--color-5);
  padding-bottom: 1rem;
}

.article-1 div{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.article-1 div ul{
  position: relative;
  text-align: center;
  list-style: none;
  color: white;
  top: 2rem;
}


.article-1 div li h3{
  position: relative;
  font-size: 28px;
  font-family: var(--font-3);
  background-color: var(--color-6);
  width: 80%;
  left: 10%;
  padding: 0.5rem 20% 0.5rem 20%;
  margin-top: 1.5rem;
}

.article-1 div li p{
  position: relative;
  padding-top: 2rem;
  font-size: 18px;
  width: 80%;
  left: 10%;
  text-align: center;
  font-family: var(--font-3);

}


/* wow */

.wow{
  position: relative;
  width: 360px;
  height: 480px;
  background-image: url(../media/wow-bg.jpg);
  background-size: 125%;
  background-clip: content-box;
  top: 0rem;
  margin-top: 4rem;
}


.wow div p{
    background-color: var(--wow-sq);
    box-shadow: 1px 1px black;
    color: black;
    text-align: center;
    font-size: 24px;
    position: absolute;
    width: 8%;
    height: 8%;
}

.wow div button{
    box-shadow: 2px 2px black;
    color: black;
    text-align: center;
    font-size: 24px;
    position: absolute;
    width: 8%;
    height: 8%;
    border-radius: 7px;
    background-color: var(--wow-bt);
}

#square-1  { left:56%; top: 8%; }
#square-2  { left:40%; top: 16%;}
#square-3  { left:56%; top: 16%;}
#square-4  { left:24%; top: 24%;}
#square-5  { left:32%; top: 24%;}
#square-6  { left:40%; top: 24%;}
#square-7  { left:48%; top: 24%;}
#square-8  { left:56%; top: 24%;}
#square-9  { left:80%; top: 24%;}
#square-10 { left:24%; top: 32%;}
#square-11 { left:40%; top: 32%;}
#square-12 { left:56%; top: 32%;}
#square-13 { left:64%; top: 32%;}
#square-14 { left:72%; top: 32%;}
#square-15 { left:80%; top: 32%;}
#square-16 { left:16%; top: 40%;}
#square-17 { left:24%; top: 40%;}
#square-18 { left:32%; top: 40%;}
#square-19 { left:40%; top: 40%;}
#square-20 { left:48%; top: 40%;}
#square-21 { left:56%; top: 40%;}
#square-22 { left:80%; top: 40%;}
#square-23 { left:24%; top: 48%;}
#square-24 { left:80%; top: 48%;}
#square-25 { left:16%; top: 56%;}
#square-26 { left:24%; top: 56%;}
#square-27 { left:32%; top: 56%;}
#square-28 { left:40%; top: 56%;}
#square-29 { left:24%; top: 64%;}

#wow-in-1 { width: 8%; height: 8%; left:20%; top: 76%;}
#wow-in-2 { width: 8%; height: 8%; left:32%; top: 76%;}
#wow-in-3 { width: 8%; height: 8%; left:44%; top: 76%;}
#wow-in-4 { width: 20%; height: 8%; left:68%; top: 76%; background-color: var(--wow-bt-2); }
#wow-in-5 { width: 8%; height: 8%; left:20%; top: 88%;}
#wow-in-6 { width: 8%; height: 8%; left:32%; top: 88%;}
#wow-in-7 { width: 8%; height: 8%; left:44%; top: 88%;}
#wow-in-8 { width: 20%; height: 8%; left:68%; top: 88%; background-color: var(--wow-bt-2); }

#wow-text{
  position: absolute;
  height: 8%; min-height: 8%; max-height: 8%;
  width: 24%; min-width: 24%; max-width: 24%;
  top: 64%;
  font-size: 24px;
  left: 66%;
  border-width: 0px;
  color: black;
}

.wow div button:hover{
  background-color: var(--wow-bt-h);
  color: white;
}
